* {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.header {
  color: white;
  background-color: #585d65;
  position: fixed;
  top: 40px;
  right: 50px;
  left: 50px;
  height: 80px;
  border-radius: 80px;
  display: flex;
  align-items: center;
}

.header h1 {
  font-size: 1.5em;
  padding: 0 0 0 25;
  width: 30%;
}

.main-menu {
  width: 50%;
}

.main-menu ul {
  display: flex;
}

.main-menu ul li {
  list-style: none;
  padding: 0 15 0 15;
}

.cv-download {
  width: 20%;
}
