@font-face {
  font-family: 'SansPro';
  src: url('fonts/SourceSansPro-Regular.ttf') format('truetype');
}

* {
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: 'SansPro';
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

.container {
  display: block;
  max-width: 1140px;
  margin: auto;
}

.header {
  height: 4rem;
  display: flex;
  align-items: center;
  flex-basis: 90%;
  justify-content: space-between;
}

.header h1 {
  font-size: 1.5em;
}

.main-menu {
  flex-flow: row;
}

.main-menu ul {
  display: flex;
}

.main-menu ul li {
  list-style: none;
  padding: 0 15 0 15;
}

.cv-download {
  width: 20%;
}
